<%- include('include/header'); %>
<form method="post" action="/trainer/add">
    <div class="form-group">
        <label for="name">name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>

    <div class="form-group">
        <label for="phone">phone:</label>
        <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone">
    </div>

    <div class="form-group">
        <label for="birth_date">birth_date:</label>
        <input type="date" class="form-control" id="pwd" name="birth_date">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>


</div>