
<script src="/assets/admin/vendor/jquery/jquery-1.12.3.min.js"></script>
<script src="/assets/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/admin/vendor/nano-scroller/nano-scroller.js"></script>
<script src="/assets/admin/javascripts/template-script.min.js"></script>
<script src="/assets/admin/javascripts/template-init.min.js"></script>
<!--<script src="/assets/admin/vendor/chart-js/chart.min.js"></script>-->
<script src="/assets/admin/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<script src="assets/javascripts/minitoggle.js"></script>
<script src="/assets/custom.js"></script>

<script type="text/javascript" src="/assets/admin/javascripts/fileuploader.min.js"></script>
<script type="text/javascript" src="/assets/admin/javascripts/fileuploader-custom2.js"></script>


</body>
</html>
